.wrapper {
  margin: 0 2rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.toggle-sidebar {
  cursor: pointer;
}
.logo {
}
.avatar {
}
