@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-darkest: #170f2e;
  --primary-darker: #312163;
  --primary-dark: #5531a7;
  --primary-default: #9251f7;
  --primary-light: #c696fc;
  --primary-lighter: #efe2f9;
  --primary-lightest: #f8f2fc;
  --second-darker: #1f2347;
  --second-dark: #2a337e;
  --second-default: #516cf7;
  --second-light: #95aafb;
  --second-lighter: #e1e7fe;
  --second-lightest: #f5f7ff;
  --gray-darkest: #232339;
  --gray-darker: #2e2e48;
  --gray-dark: #47516b;
  --gray-default: #79819a;
  --gray-light: #acb1c3;
  --gray-lighter: #d9dfe8;
  --gray-lightest: #e2e6ee;
  --gray-lightest2: #f7f9fc;
  --status-info: #22c3f1;
  --status-success-light: #e7fae5;
  --status-success: #4ac06f;
  --status-success-dark: #1f5c43;
  --status-warning-light: #fefcbf;
  --status-warning: #f4ce10;
  --status-warning-dark: #857129;
  --gradient-primary0: rgba(164, 120, 232, 1);
  --gradient-primary1: rgba(81, 108, 247, 1);
  --gradient-second0: rgba(81, 108, 247, 1);
  --gradient-second1: rgba(177, 189, 251, 1);
  --pd-rs-left: 28px;
  --primary-bg: white;
  --white-bg: white;
}

::selection {
  background-color: rgb(89, 89, 196);
  color: white;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 62.5%;
}

html::-webkit-scrollbar {
  border-radius: 0;
  height: 8px;
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

html ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0;
}

body {
  overflow: unset;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  // height: 2000px;
}
