.header {
  height: var(--header-height);
  background-color: #468faf;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.container {
  margin-top: var(--header-height);
  display: flex;
}
.sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: var(--sidebar-width-large);
  background-color: #468faf;
  color: white;
}

.sidebar-toggle {
  width: var(--sidebar-width-small);
}

.content {
  margin-left: var(--sidebar-width-large);
}

.content-toggle {
  margin-left: var(--sidebar-width-small);
}
